.lh_12 {
    line-height: 12px;
    font-size: 12px;
}

.lh_13 {
    line-height: 13px;
}

.lh_14 {
    line-height: 14px;
}

.lh_15 {
    line-height: 15px;
}

.bc_white {
    background-color: #999999;
}
vnnh