.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    color: white;
    text-transform: uppercase;
}

.header__item {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    margin-right: 10px;
}

.header__icon {
    margin-right: 10px;
    top: 45px;
}