.page__inputs {
    display: flex;
    justify-content: space-between;
}

.input__regular {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid #999999;
}

.input {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.page__inputs-icons {
    display: inline-flex;
    justify-content: normal;
}

.input__second {
    display: inline-flex;
    position: relative;
    padding-top: 60px;
    padding-right: 80px;
}

